.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

#comment {
    width: 390px;
}

.article-notes {
    margin-left: 25px;
}

.btn-info {
    margin-top: 40px;
}

.jumbotron {
    
  background-color:#009ACE;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  

}